body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  p {
    margin-bottom: 12px;
  }
  
  ul, ol {
    margin-bottom: 12px;
    padding-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }

  header {
    background-color: #0e0d5a;
    padding: 20px;
  }
  
  header h1 {
    color: #fff;
  }

  nav {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
  }

  section {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }

  .uml-diagram {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
  }

  .quiz {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .glossary {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }

  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }
  
  .center-image img {
    max-width: 100%;
    max-height: 100%;
  } 
  





































<!-- Leonhard Kasper -->
<!-- Maks Kowalski -->
<!-- Szymon Sojka -->
